POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=ecommerce
RABBITMQ_DEFAULT_PASS=ecommerce_password
RABBITMQ_URL=amqp://ecommerce:ecommerce_password@rabbitmq:5672/

JWT_SECRET_KEY=change-me-local-dev-secret
JWT_EXPIRE_MINUTES=1440
RUN_MIGRATIONS_ON_STARTUP=true

USER_DATABASE_URL=postgresql+psycopg2://ecommerce:ecommerce_password@postgres:5432/user_db
PRODUCT_DATABASE_URL=postgresql+psycopg2://ecommerce:ecommerce_password@postgres:5432/product_db
ORDER_DATABASE_URL=postgresql+psycopg2://ecommerce:ecommerce_password@postgres:5432/order_db
PAYMENT_DATABASE_URL=postgresql+psycopg2://ecommerce:ecommerce_password@postgres:5432/payment_db
NOTIFICATION_DATABASE_URL=postgresql+psycopg2://ecommerce:ecommerce_password@postgres:5432/notification_db

USER_SERVICE_URL=http://user-service:8000
PRODUCT_SERVICE_URL=http://product-service:8000
ORDER_SERVICE_URL=http://order-service:8000
PAYMENT_SERVICE_URL=http://payment-service:8000
NOTIFICATION_SERVICE_URL=http://notification-service:8000
